* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "coopbl";
  src: url("../public/assets/fonts/COOPBL.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}


.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}