* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "coopbl";
  src: url("../public/assets/fonts/COOPBL.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}


body {
    /* font-family: Arial, sans-serif;
    min-height: 100vh; */
  font-family: Arial, sans-serif;
}

.container {
  /* height: 100vh;
  width: 100vw; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
.header {
  /* display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 1rem;
  background-color: black;
  color: #FDFBD4; */

  background-color: black;
  color: #FDFBD4;
  padding: 1rem;
  flex-shrink: 0;
}

/* Logo */
.logo {
  font-family: "coopbl", sans-serif;
  font-size: 2rem;
}

/* Nav list */
.nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem; /* space between items */
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: gray;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: lightgray; /* highlight on hover */
}

.board-container {
  flex: 1;
  /* border-radius: 20px; */
  /* background-color: #228B22; */
  /* border: 1px solid #ccc; */
  gap: 5rem;              /* spacing between game and info */
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;


}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 5vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  height: 100px;
  width: 100px;
  outline: none;
  caret-color: transparent;

  font-family: "coopbl", sans-serif;
  font-size: 2rem;
}

.square.block {
  background-color: black;
}

.square.is-focus {
  background-color: #C12C2C;
}

.square.in-focus {
  background-color: #E9BCB7;
}

.square.top-left {
  border-top-left-radius: 20px;
}

.square.top-right {
  border-top-right-radius: 20px;
}

.square.bottom-left {
  border-bottom-left-radius: 20px;
}

.square.bottom-right {
  border-bottom-right-radius: 20px;
}

.board {
  display: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.footer {
  /* padding: 1rem;
  margin-top: auto; */
  background-color: black;
  color: grey;
  padding: 1rem;
  text-align: center;
  flex-shrink: 0;
}

.footer-text {
  padding-left: 1rem;
}

.game {
  /* background-color: white; */
  /* border: 1px solid #ccc; optional visual aid */
  /* padding: 1rem; */
  display: flex;
  align-items: flex-start;
}

.info {
  border-radius: 20px;
  /* background-color: lightgray; */
  border: 1px solid #ccc; /* optional visual aid */
  padding: 1rem;
  display: flex;
  height: 500px;
  width: 310px;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
}

.info-header{
  font-family: "coopbl", sans-serif;
  font-size: 2rem;
}

ul {
  padding-inline-start: 20px;
}

.info ol {
  padding-left: 2rem;
}

.info li {
  padding-top: 0.25rem;
}

.controls {
  display: flex;
  padding: 2rem;
  justify-content: center;
}

.controls button {
  border-width: 0px;
  border-radius: 10px;
  background-color: black;
  font-family: "coopbl", sans-serif;
  font-size: 2rem;
  color: #FDFBD4;
  padding: 1rem;

}

.alert {
  display: flex;
  justify-content: center;
}



.success-container {
  flex: 1;
  /* border-radius: 20px; */
  /* background-color: #228B22; */
  /* border: 1px solid #ccc; */
  gap: 5rem;              /* spacing between game and info */
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;


  border: none;
}

.success-header {
  font-family: "coopbl", sans-serif;
  font-size: 2rem;
}

.success-button-container button {
  border-width: 0px;
  border-radius: 10px;
  background-color: black;
  font-family: "coopbl", sans-serif;
  font-size: 2rem;
  color: #FDFBD4;
  padding: 1rem;
}

/* .controls button {
  padding: 1rem;
} */

/* Responsive design */
@media (max-width: 1000px) {
  .container {
    align-items: flex-start;
    padding-top: 1rem;
    height: auto;
    min-height: 100vh;
  }
  /* .game {
    padding-top: 10rem;
  } */
  .square {
    line-height: 16vw;
    height: 16vw;
    width: 16vw;
  }
  .board-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border: none;
  }
}