

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}


ul {
  padding-inline-start: 20px;
}


.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 5vw;
  height: 5vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5vw;
}

.square.top-left {
  border-top-left-radius: 20px;
}

.square.top-right {
  border-top-right-radius: 20px;
}

.square.bottom-left {
  border-bottom-left-radius: 20px;
}

.square.bottom-right {
  border-bottom-right-radius: 20px;
}

.board {
  display: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.container {
  /* background-color: #FFFDD0; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* full viewport height */
  width: 100vw;
}

.board-container {
  border-radius: 20px;
  /* background-color: #228B22; */
  border: 1px solid #ccc;
  display: flex;
  gap: 5rem;              /* spacing between game and info */
  align-items: flex-start;
  padding: 5rem;
}

.game {
  /* background-color: white; */
  /* border: 1px solid #ccc; optional visual aid */
  /* padding: 1rem; */
}
.info {
  border-radius: 20px;
  /* background-color: lightgray; */
  border: 1px solid #ccc; /* optional visual aid */
  padding: 1rem;
}

.info ol {
  padding-left: 2rem;
}

.controls {
  padding: 2rem;
}

.controls button {
  padding: 1rem;
}

/* Responsive design */
@media (max-width: 1000px) {
  .game {
    padding-top: 10rem;
  }
  .square {
    line-height: 16vw;
    height: 16vw;
    width: 16vw;
  }
  .board-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border: none;
  }
}