/* div.game {
  display: block;
} */

div.board-row {
  display: flex;
  flex-direction: row;
}

div.board-row input.square {
  border: none;
  width: 15vw;
  height: 15vw;
  min-height: 50px;
  max-height: 150px;
  min-width: 50px;
  max-width: 150px;
  /* margin: 2px; */
  text-align: center; 
  font-size: 20px;
  font-family: Avenir;
  /* hide the input cursor */
  /* color: transparent;
  text-shadow: 0 0 0 black; */
}

/* hide the input cursor */
/* div.board-row input.square:focus {
  outline: none;
} */

div.board-row input.square.highlight-row {
  background-color: lightblue;
  margin-top: 5vh;
  margin-bottom: 5vh;
  transition: margin 700ms;
}

div.board-row input.square.highlight-col {
  background-color: lightblue;
  margin-left: 5vw;
  margin-right: 5vw;
  transition: margin 700ms;
}

div.board-row input.square.focus {
  background-color: blanchedalmond;
}

div.board-row input.square.fist input.square.middle {
  border-right: 1px solid;
}

/* border-radius top-left top-right bottom-left bottom-right*/

/* first row */
div.board-row.first input.square.first {
  border-radius: 15px 0px 0px 0px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
div.board-row.first input.square.middle {
  border-radius: 0px 0px 0px 0px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}
div.board-row.first input.square.last {
  border-radius: 0px 15px 0px 0px;
  border-bottom: 1px solid;
}

/* middle rows */
div.board-row.middle input.square {
  border-radius: 0px 0px 0px 0px;
  border-bottom: 1px solid;
}
div.board-row.middle input.square.first, div.board-row.middle input.square.middle  {
  border-right: 1px solid;
}

/* last row */
div.board-row.last input.square.first {
  border-radius: 0px 0px 0px 15px;
  border-right: 1px solid;
}
div.board-row.last input.square.middle {
  border-radius: 0px 0px 0px 0px;
  border-right: 1px solid;
}
div.board-row.last input.square.last {
  border-radius: 0px 0px 15px 0px;
}
